<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <div class="collection-section">
            <h1>Collection</h1>
            <div class="collection-container">
                <% cardInfo.forEach(card=>{ %>
                    <div class="collection-card-info">
                        <img src="<%= card.picture%>" alt="card image">
                        <div class="collection-details">
                            <div class="collection-card-name">
                                <h2><%= card.name %></h2>
                                <p><%= card.price %> &#8364;</p>
                            </div>
                            <div class="collection-button">
                                <form action="/collection/<%= card.id %>" method="post">
                                    <button type="submit"><img src="/delete_icon.png" alt="delete icon"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </body>
</html>