<html>
    <head>
        <title><%= card.name %></title>
    </head>
    <body>
        <h1><%= card.name %></h1>
        <img src="<%= card.image %>/low.png" alt="<%= card.name %>">
        <% if(card.set){ %>
            <h2>Set: <%= card.set.name %></h2>    
        <% } %>
        <p style="display:inline;">Market Price: <%= card?.pricing?.cardmarket?.avg30 %>&#8364;</p>
        <p>HP: <%= card.hp %></p>
        <p>Description: <%= card.description %></p>
        <img src="/delete_icon.png" alt="delete icon">

        <a href="/card">Back to Search</a>
        
        <%- include('../partials/saveCard.ejs') %>
    </body>
</html>